/* variables */

$primary-color: #3ab2f2;
$dark-color: #2d3237;
$light-color: #f4f4f4;
$danger-color: #d72a3b;
$success-color: #1dd247;

/* defaults */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  background-color: $dark-color;
  color: $primary-color;
}

a {
  color: $primary-color;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* classes */

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2em;
  margin-top: 10%;
  margin-bottom: 10%;
}

.XL {
  font-size: 10em;
  line-height: 1.2;
  margin-bottom: 0.3em;
}

.L {
  font-size: 3em;
  line-height: 1.2;
  margin-bottom: 0.4em;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: $primary-color;
}

.text-light {
  color: $light-color;
}

.btn {
  display: inline-block;
  background: $light-color;
  color: $dark-color;
  padding: 0.4em 1.3em;
  font-size: 1.5em;
  border: none;
  margin-right: 0.5em;
  transition: opacity 2s ease-in;
  border-radius: 0.7em;
}

.btn-primary {
  background: $primary-color;
  color: $light-color;
  &:hover {
    color: $dark-color;
  }
}

.btn-light {
  background: $light-color;
  color: $dark-color;
  &:hover {
    color: $primary-color;
  }
}

i.fa-twitter {
  color: #38a1f3;
}
i.fa-facebook {
  color: #3b5998;
}
i.fa-instagram {
  color: #3f729b;
}
i.fa-youtube {
  color: #c4302b;
}
i.fa-linkedin {
  color: #0077b5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px $primary-color;
  background-color: rgba(0, 0, 0, 0.8);

  ul {
    display: flex;
    font-size: 1.3em;
  }

  .link {
    padding: 0.5em;
    margin: 0 1em;
  }
}

.landing {
  position: relative;
}

.logo {
  width: 35%;
}

.link {
  color: $primary-color;
}

.link:hover {
  color: $light-color;
}

.landing {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url('../img/landingimage.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  height: 100vh;
}

.landing-inner {
  color: $light-color;
  height: 100%;
  width: 80%;
  margin: auto;
  padding-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.extras {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
  color: $light-color;
}

i.fa-chalkboard-teacher,
i.fa-stopwatch,
i.fa-users {
  color: $light-color;
  font-size: 3em;
}
