/* variables */

$primary-color: #3ab2f2;
$dark-color: #2d3237;
$light-color: #f4f4f4;
$danger-color: #d72a3b;
$success-color: #1dd247;

/* defaults */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: $dark-color;
  color: $primary-color;
}

a {
  color: $primary-color;
  text-decoration: none;
}

a:hover {
  color: $light-color;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* classes */

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* Text Styles*/
.XL {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.L {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: $primary-color;
}

.text-light {
  color: $light-color;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px $primary-color;
  opacity: 0.9;

  ul {
    display: flex;
  }

  .link {
    padding: 0.5rem;
    margin: 0 1rem;
  }
}
.landing {
  position: absolute;
  top: 200px;
}

.logo {
  width: 35%;
}

// .link-logo {
//   width: 200px;
// }

.link {
  color: $primary-color;
}

.link:hover {
  color: $light-color;
}

.landing {
  position: relative;
  background: url('../img/landingimage.jpg') no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
